{% extends 'form.html' %}

{% block other_buttons %}
    <button id="send_code" class="btn btn-primary">发送验证码</button>
{% endblock %}

{% block script_extends %}
    <script type="text/javascript">
        $("#send_code").click(function(){
            $("#tip").text('');
            var email = $("#id_email").val();
            if(email==""){
                $("#tip").text('* 邮箱不能为空');
                return false; 
            }
            
            //发送验证码
            $.ajax({
                url:"{% url 'send_verification_code' %}",
                type: "GET",
                data:{
                    "email":email,
                    "send_for": "bind_email_code"
                },
                cache: false,
                success: function(data){
                    if(data['status'] == 'SUCCESS'){
                        
                    }
                    if(data['status'] == "ERROR"){
                        $("#tip").text("* 邮箱已被绑定");
                    }
                }
            });
            // 按钮变化
            //return false;
            $("#send_code").addClass('disabled');
            $("#send_code").attr('disabled', true);
            var time = 30;
            $("#send_code").text(time + "s");
            var interval = setInterval(() => {
                if(time <=0){
                    clearInterval(interval);
                    $("#send_code").removeClass('disabled');
                    $("#send_code").attr('disabled', false);
                    $("#send_code").text('发送验证码');
                    return false;
                }
                time--;
                $(this).text(time + "s");
            }, 1000);
        });
    </script>

{% endblock %}