{% extends 'base.html' %}

{% block title %}个人信息{% endblock %}

{% block nav_home_active %}active{% endblock %}

{% block content %}
    <div class="containter">
        <div class="row">
            <div class="col-xs-6 col-xs-offset-3">
                {% if user.is_authenticated %}
                    <h3>用户名:{{ user.username }}</h3>
                    <p>昵称: {{ user.get_nickname }} 
                        <a href="{% url 'change_nickname' %}?from={{ request.get_full_path }}">修改昵称</a>
                    </p>
                    <p>邮箱:
                        {% if user.email %}
                            {{ user.email }} 
                        {% else %}
                            未绑定<a href="{% url 'bind_email' %}?from={{ request.get_full_path }}">绑定邮箱</a></p>
                        {% endif %}
                    <p><a href="{% url 'change_password' %}">修改密码</a></p>
                {% else %}
                    <span>未登录，跳转到首页</span>
                    <script type="text/javascript">
                        window.location.href='/';
                    </script>
                {% endif %}
            </div>
        </div>
    </div>

    
{% endblock %}
