{% extends 'base.html' %}
{% load comment_tags %}
{% block title %}我的网站|博客{% endblock %}

{% block nav_blog_active %}active{% endblock %}

{% load staticfiles %}
{% load likes_tags%}

{% block header_extends %}
    <link rel="stylesheet" href="{% static 'blog.css' %}">
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        {% block blog_list_title %}博客列表{% endblock %}
                    </div>
                    <div class="panel-body">
                        {% for blog in page_of_blogs.object_list %}
                            <div class="blog">
                                <h3>
                                    <a href="{% url 'blog_detial' blog.pk %}">
                                        {{ blog.title }}
                                    </a>
                                    
                                </h3>
                                <p class="blog-info">
                                    <span class="glyphicon glyphicon-tag""><a href="{% url 'blogs_with_type' blog.blog_type.pk %}">{{ blog.blog_type }}</a></span>&nbsp;&nbsp;
                                    <span class="glyphicon glyphicon-time">{{ blog.created_time|date:"Y-m-d" }}</span>&nbsp;&nbsp;
                                    <span class="glyphicon glyphicon-eye-open">({{ blog.get_read_num }})</span>&nbsp;&nbsp;
                                    <span class="glyphicon glyphicon-pencil">({% get_comment_count blog %})</span>&nbsp;&nbsp;
                                    <span class="glyphicon glyphicon-thumbs-up">({% get_like_count blog %})</span>
                                </p>
                                <p>{{ blog.content|striptags|truncatechars:30 }}</p>
                            </div>
                        {% empty %}
                            <div class="blog">
                                <h3>暂无博客，敬请期待</h3>
                            </div>
                            
                        {% endfor %}  
                    </div>
                </div>
                <div class="text-center">
                    <ul class="pagination">
                        {% if page_of_blogs.has_previous %}
                            <li>
                                <a href="?page={{ page_of_blogs.previous_page_number }}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        {% endif %}
                        
                        {% for page_num in page_range %}
                            {% if page_num == page_of_blogs.number %}
                                <li class="active"><span>{{ page_num }}</span</li>
                            {% else %}
                                {% if page_num == '...' %}
                                    <li><span>{{ page_num }}</span</li>
                                {% else %}
                                    <li><a href="?page={{ page_num }}">{{ page_num }}</a></li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        {% if page_of_blogs.has_next %}
                            <li>
                                <a href="?page={{ page_of_blogs.next_page_number }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                    <p>共有{{ page_of_blogs.paginator.count }}篇博客，
                        当前第{{ page_of_blogs.number }}页，
                        共有{{ page_of_blogs.paginator.num_pages }}页
                    </p>
                </div>
            </div>
            <div class="hidden-xs col-sm-4 col-md-3 col-lg-3">
                <div class="panel panel-default">
                    <div class="panel-heading">博客分类</div>
                    <ul class="list-group">
                        {% for blog_type in blog_types %}
                                <a href="{% url 'blogs_with_type' blog_type.pk%}" class="list-group-item">
                                    {{ blog_type.type_name }}({{ blog_type.blog_count }})
                                </a>
                        {% empty %}
                            <li class="list-group-item">暂无分类</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">时间归档</div>
                    <ul class="list-group">
                        {% for blog_date, blog_count in blog_dates.items %}
                            <a href="{% url 'blogs_with_date' blog_date.year blog_date.month %}" class="list-group-item">{{ blog_date|date:"Y年m月" }}({{ blog_count }})</a>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


